.photos {
  width: 100%;
}

.photos__info {
  padding-inline: 20px;
  font-size: 22px;
}

.photos__container {
  display: grid;
  gap: 70px;
  width: fit-content;
  margin-inline: auto;
  margin-block: 40px;
}

.photos__photo-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.photos__photo {
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px darkgrey solid;
  transition: all linear 0.3s;
}

.photos__photo:hover {
  border-color: #ec7000;
  box-shadow: 0 0 15px 1px rgba(236,112,0,0.5);
  transform: rotate(45deg);
  transition: all linear 0.3s;
}

.photos__button {
  box-sizing: border-box;
  position: absolute;
  bottom: -50px;
  width: 30px;
  height: 30px;
  border: 1px solid #ec7000;
  border-radius: 50%;
  background-color: white;
  color: #ec7000;
  transition: all linear 0.3s;
}

.photos__button:hover {
  /* box-sizing: border-box; */
  background-color: #ec7000;
  box-shadow: 0 0 15px 1px rgba(236,112,0,0.5);
  color: #fff;
  transition: all linear 0.3s;
}

.reset {
  display: flex;
  justify-content: center;
  margin-block: 100px;
}

.reset__button {
  box-sizing: border-box;
  padding: 10px;
  width: 250px;
  border: 2px solid #ec7000;
  font-weight: 700;
  font-size: 16px;
  border-radius: 50px;
  background-color: white;
  color: #ec7000;
  transition: all linear 0.3s;
}

.reset__button:hover {
  background-color: #ec7000;
  box-shadow: 0 0 15px 1px rgba(236,112,0,0.5);
  color: #fff;
  transition: all linear 0.3s;
}

.container__background {
  position: absolute;
  top: calc(100vh - calc(100vh - 127px));
  left: 0;
  right: 0;
  bottom: calc(100vh - calc(100vh - 102px));
  z-index: -10;
}

.container__background-blue {
  position: fixed;
  width: 120%;
  height: 120%;
  z-index: -1;
  top: -45%;
  right: -55%;
  opacity: 0.4;
  background: radial-gradient(circle, #003399 0%, rgba(233,222,148,0) 45%);
}

.container__background-orange {
  position: fixed;
  width: 120%;
  height: 120%;
  z-index: -1;
  bottom: -50%;
  left: -55%;
  opacity: 0.4;
  background: radial-gradient(circle, rgba(236,112,0,1) 0%, rgba(233,222,148,0) 45%);
}

@media (min-width: 501px) {
  .photos__container {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(6, auto);
  }
}

@media (min-width: 901px) {
  .photos__container {
    width: 80%;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(3, auto);
    column-gap: unset;
  }

  .photos__photo {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
  }
}
